{% extends "auctions/layout.html" %}

{% block body %}
    


<div class="position-relative overflow-hidden p-3 p-md-5  text-center" style="background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); background-repeat: no-repeat; background-size: cover;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Welcome</h1>
        <p class="lead font-weight-normal">Here you can participate on auctions. Also you can auction your items too<br>Can wait to sell my collectors edition pokemon cards<span style='font-size:20px;'>&#128540;</span></p>
        <a class="btn btn-outline-light" href="{% url 'login' %}">Let's go!</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>



<h2 class='display-2 text-center'style='background: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);-webkit-background-clip: text;
-webkit-text-fill-color: transparent;'>Current Auctions</h2>
<hr class="container">

    
    <div class="row d-flex justify-content-center" >
        <!-- Grid column -->
        <div class="col-xl-7 pb-2">
            {% if empty %}
                <h3>No Active Listings available</h3>
            {% else %}
                {% for product in products%}
                    <br>
                    <!-- Card Regular -->
                    <div class="card card-cascade"style="border-radius: 10px;box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;" >
                        <!-- Card image -->
                        <div class="view view-cascade overlay " >

                            {% if product.image_link1%}
                                    <img src="{{product.image_link1}}" class="d-block w-100" alt="{{ image.alt_text }}" style="height: 400px;width: 500px;">
                            {% endif %}
                            
                        </div>
                        <!-- Card content -->
                        <div class="card-body card-body-cascade " >
                            <!-- Title -->
                            <h2 class="card-title display-2"><strong>{{product.name}}</strong></h2>
                            <!-- Subtitle -->
                            
                            <h3 class="badge" style="background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)">{{product.category}}</h3>
                            <!-- Text -->
                            <p class="lead">Seller : {{product.owner_id}} <br> </p>
                            <!-- Text -->
                            <p class=""><em>Description:</em></p>
                            <p class="">{{product.description}} <br> </p>
                            <!-- Price -->
                            <p class="font-weight-bold">Initial Bid: {{product.initial_bid}}$ <br> </p>
                            <!-- Button -->

                            {% if product.current_largest_bid %}
                            <button class="font-weight-bold" style="background-color: #FBAB7E;
                            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                            border: 0px; border-radius: 10px; zoom: 1.2;" > Current bid : {{product.current_largest_bid}}$ <br> </button>
                            {% else %}
                            <p class="font-weight-bold" style="color: rgb(0, 60, 255);" >No bids made <br> </p>
                            {% endif %}
                            <div style="margin-top: 10px;">
                            <a href="{% url 'viewlisting' product.id %}">
                            <button style="background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%); border: 0px;" class="btn btn-primary">View Details</button>
                        </a>    
                        </div>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer text-muted text-center">
                            {{product.date_created}}
                        </div>
                    </div>
                    <hr>
                    <!-- Card Regular -->
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}
